.button {
  padding: 14px 24px;
  background-color: rgb(127, 127, 255);
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 18px;
  transition: opacity 0.3s;
  opacity: 1;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

.button_green {
  background-color: rgb(87, 142, 87);
}

.button_red {
  background-color: rgb(219, 114, 114);
}

.button_count {
  background-color: rgb(187, 220, 209);
  color: black;
  height: 50px;
  width: 70px;
  border-radius: 0;
}

.button_reset {
  background-color: rgb(10, 217, 148);
  color: black;
  height: 50px;
  width: 500px;
  border-radius: 0;
}
